version: '3.9'

services:
  builder:
    image: maven:3.9.11-eclipse-temurin-11-alpine
    working_dir: /app
    command: sh -c "
      apk add --no-cache git &&
      git clone https://github.com/boxfuse/boxfuse-sample-java-war-hello.git project &&
      cd project &&
      mvn -B package &&
      cp target/*.war /output/ "
    volumes:
     - build_artifacts:/output

  prod:
    image: tomcat:10.1.49-jre17-temurin-jammy
    depends_on:
      - builder
    ports:
      - "8080:8080"
    volumes:
      - build_artifacts:/usr/local/tomcat/webapps

volumes:
  build_artifacts: