version: '3.9'

services:
  builder:
    build:
      context: .
      dockerfile: Dockerfile.build
    volumes:
      - build_artifacts:/output

  prod:
    image: tomcat:10.1-jdk17-temurin
    depends_on:
      - builder
    ports:
      - "8080:8080"
    volumes:
      - build_artifacts:/usr/local/tomcat/webapps

volumes:
  build_artifacts: