version: '3.8'

services:
  builder:
    build:
      context: .
      dockerfile: Dockerfile.build
    volumes:
      - build_artifacts:/output

  prod:
    build:
      context: .
      dockerfile: Dockerfile.prod
    depends_on:
      - builder
    volumes:
      - build_artifacts:/input
    ports:
      - "8080:8080"

volumes:
  build_artifacts: